* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Small devices (Mobiles, 576px and Down) */
@media (min-width: 310px) and (max-width: 480px) {

    #LargeDevices {
        display: none;
    }
    main{
        display: none;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }

    #RegisterSection {
        display: flex;
        height: 350px;
        width: 240px;
        border: 2px solid black;
        padding: 5px 5px;

    }

    /* Register And Login Combine Section */

    .UserPassDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        row-gap: 10px;
    }

    .UserPassDiv>label {
        font-size: 20px;
    }

    .UserPassDiv>input {
        height: 35px;
        font-size: 18px;
        padding: 10px 10px;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .UserPass1Status{
        font-size: 18px;

    }

    /* Register Section */

    #SignupDiv {
        height: 100%;
        width: 100%;
        border: 2px solid green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 15px;
        row-gap: 10px;
    }

    #RegisterBtn {
        width: 80%;
        height: 40px;
    }

    /* Login Section */

    #LoginDiv {
        height: 100%;
        width: 100%;
        border: 2px solid green;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 15px;
        row-gap: 25px;
    }



    #LoginBtn {
        width: 80%;
        height: 40px;
    }

    #AccountName{
        color: greenyellow;
    }

    #ShowUserPass{
        width:max-content ;
        padding: 8px;
        height: 40px;
    }

    #LogOut{
        width: 150px;
        height: 40px;
    }

}

/* Medium devices (tablets, 768px and Down) */
@media (min-width: 481px) and (max-width: 768px) {
    #RegisterSection {
        display: none;
    }
    main{
        display: none;
    }
}


/* // Large devices (desktops, 992px and Down)*/
@media (min-width: 7769px) and (max-width: 1024px) {
    #RegisterSection {
        display: none;
    }
    main{
        display: none;
    }
}


/* // X-Large devices (large desktops, 1200px and Down)*/
@media (min-width: 1025px) and (max-width: 1200px) {
    #RegisterSection {
        display: none;
    }
    main{
        display: none;
    }
}

/* // XX-Large devices (larger desktops, 1400px and Down)*/
@media (min-width: 1201px) and (max-width: 2000px) {
    #RegisterSection {
        display: none;
    }
    main{
        display: none;
    }
}

